/* Personalizado Card*/
    .card-2{
        margin: 25px auto;
        border: 1px solid #ccc;
        width: auto;
        height: auto;
        box-shadow: 7px 7px 15px #747070;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        text-align: center;
    }